@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:700");
body {
  width: 100vw;
  height: 100vh;
  background-color: #FAFAFA; }

img {
  max-width: 100%;
  height: auto;
  margin: 15px auto;
  display: block; }

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.h-center {
  margin: 0 auto; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform; }

.hvr-grow:active,
.hvr-grow:focus,
.hvr-grow:hover {
  transform: scale(1.1); }

.navbar-brand {
  margin: 0;
  padding: 0; }

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between; }

@media (min-width: 576px) {
  .navbar {
    padding: 30px 35px; }
    .navbar .container {
      margin: 0;
      padding: 0; } }
.uk-offcanvas-bar {
  background: #1d2786; }
  .uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a,
  .uk-offcanvas-bar .uk-nav-primary > li > a,
  .uk-offcanvas-bar .uk-offcanvas-close {
    color: #FAFAFA;
    text-transform: uppercase; }

.banner {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://source.unsplash.com/mdoPthuhr6Q/1600x900") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white; }

.banner-title {
  font-weight: 800; }

.banner-arrow {
  position: absolute;
  top: 90vh; }

@media (min-width: 576px) {
  .banner {
    text-align: center; } }
.footer {
  text-align: center;
  margin-bottom: 0; }
  .footer a {
    text-decoration: none; }
  .footer :hover .footer-icon {
    color: black; }

.footer-icon {
  padding: 7.5px; }

body {
  font-family: "Roboto", sans-serif; }
  body {
    font-size: 20px; }

h6 {
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase; }

h5 {
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase; }

h4 {
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase; }

h3 {
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase; }

h2 {
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase; }

h1 {
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase; }

h1 {
  font-size: 53.75px; }
@media (min-width: 400px) and (max-width: 1000px) {
  h1 {
    font-size: calc( 53.75px + 4.5 * (100vw - 400px) / 600 ); } }
@media (min-width: 1000px) {
  h1 {
    font-size: 58.25px; } }

h2 {
  font-size: 49.25px; }
@media (min-width: 400px) and (max-width: 1000px) {
  h2 {
    font-size: calc( 49.25px + 4 * (100vw - 400px) / 600 ); } }
@media (min-width: 1000px) {
  h2 {
    font-size: 53.25px; } }

h3 {
  font-size: 44.75px; }
@media (min-width: 400px) and (max-width: 1000px) {
  h3 {
    font-size: calc( 44.75px + 4.5 * (100vw - 400px) / 600 ); } }
@media (min-width: 1000px) {
  h3 {
    font-size: 49.25px; } }

h4 {
  font-size: 40.25px; }
@media (min-width: 400px) and (max-width: 1000px) {
  h4 {
    font-size: calc( 40.25px + 4.5 * (100vw - 400px) / 600 ); } }
@media (min-width: 1000px) {
  h4 {
    font-size: 44.75px; } }

h5 {
  font-size: 35.75px; }
@media (min-width: 400px) and (max-width: 1000px) {
  h5 {
    font-size: calc( 35.75px + 4.5 * (100vw - 400px) / 600 ); } }
@media (min-width: 1000px) {
  h5 {
    font-size: 40.25px; } }

h6 {
  font-size: 31.25px; }
@media (min-width: 400px) and (max-width: 1000px) {
  h6 {
    font-size: calc( 31.25px + 4.5 * (100vw - 400px) / 600 ); } }
@media (min-width: 1000px) {
  h6 {
    font-size: 35.75px; } }

a:active, a:hover,
a, a:active, a:hover, a:visited {
  color: inherit; }

.section-title {
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 0; }
  .section-title {
    font-size: 53px; }
  @media (min-width: 400px) and (max-width: 1000px) {
    .section-title {
      font-size: calc( 53px + 8 * (100vw - 400px) / 600 ); } }
  @media (min-width: 1000px) {
    .section-title {
      font-size: 61px; } }

.typed {
  display: inline; }

.visit-text {
  text-align: center;
  font-size: 1.3em;
  padding: 40px 0;
  margin-bottom: 0; }
  .visit-text a {
    text-decoration: none; }
  .visit-text a:hover {
    font-weight: bolder; }

.menu-icon {
  color: white; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  margin: 0; }

.section {
  padding: 50px 0; }

.content-section {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 740px; }

/*# sourceMappingURL=app.css.map */
