.fadeInUp {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .fadeInUp {
    transition: opacity 1s ease, transform 1s ease;
  }
}

.fadeInUp-transition {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
