// Font weights
$light: 100;
$regular: 400;
$bold: 600; // Base Font
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4; // Headings
$header-font-weight: $bold;
@import "../modules/all";

body {
  width: 100vw;
  height: 100vh;
  background-color: $white;
}

img {
  max-width: 100%;
  height: auto;
  margin: 15px auto;
  display: block;
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-center {
  margin: 0 auto;
}

// START OF HOVER GROW

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:active,
.hvr-grow:focus,
.hvr-grow:hover {
  transform: scale(1.1);
}

// END OF HOVER GROW

@import "components/all"
