* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  margin: 0;
}

.section {
  padding: 50px 0;
}

.content-section {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 740px;
}
// navbar

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 576px) {
  .navbar {
    padding: 30px 35px;

    .container {
      margin: 0;
      padding: 0;
    }
  }
}

.uk-offcanvas-bar {
  background: $primary-colour;

  .uk-nav-primary .uk-nav-sub a,
  .uk-nav-primary > li > a,
  .uk-offcanvas-close {
    color: $black;
  }
}
