body {
  @include font-size(20px);
  font-family: $base-font-family;
}

h1,
h2,
h3 {
  font-family: $header-font-family;
  text-transform: uppercase;
}

h1 {
  @include font-size(45px, 54px);
}

h2 {
  @include font-size(40px, 49px);
}

h3 {
  @include font-size(35px, 44px);
}

h4 {
  @include font-size(30px, 39px);
}

h5 {
  @include font-size(25px, 34px);
}

h6 {
  @include font-size(20px, 29px);
}

.section-title {
  @include font-size(53px, 61px);
  font-weight: $extra-bold;
  text-align: center;
}

.typed {
  display: inline;
}
