html {
  font-size: 100%; // 16px
}

body {
  background: $white;
  font-family: $base-font-family;
  font-weight: 400;
  line-height: 1.75;
  color: $black;
}

p {
  margin-bottom: 1rem;
}

@for $i from 1 through 5 {
  h#{6 - $i} {
    margin: 3rem 0 1.38rem;
    font-family: $header-font-family;
    font-weight: 700;
    line-height: 1.3;
  }
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

#{$a-tags-hover},
#{$a-tags} {
  font-weight: bold;
  color: inherit;
}
