@import "./../modules/all"; // START OF BANNER

.banner {
  align-items: center;
  display: flex;
  height: 95vh;
  justify-content: center;
  background-color: $quaternary-colour;

  div {
    text-align: center;
  }
}

.banner-title {
  font-weight: $extra-bold;
}
// END OF BANNER
// START OF WORK SECTION

.work-item {
  width: 100%;
  margin: 30px 0;
}

.work-section {
  background-color: $primary-colour;
  color: white;
  padding: 30px 0;

  hr {
    background-color: $tertiary-colour;
    width: 25%;
    height: 5px;
    margin-left: 0;
    text-align: left;
  }
}

.work-content {
  min-height: 50vh;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-item-byforte .work-image {
  @include work-image("https://source.unsplash.com/zNRITe8NPqY/640x480");
}

.work-item-newnew .work-image {
  @include work-image("https://source.unsplash.com/OqtafYT5kTw/640x480");
}
@media (min-width: 576px) {
  .work-content {
    padding: 50px;
  }
}
// END OF WORK SECTION
// START OF ABOUT SECTION

.about-section {
  background-color: $secondary-colour;
  color: white;
  padding: 30px 0;
}

.about-icons {
  a {
    color: #1f252a;
    padding: 7.5px;

    :hover {
      color: #0f1114;
    }
  }
}
// END OF ABOUT SECTION
