.banner {
  align-items: center;
  display: flex;
  height: $bannerHeight;
  justify-content: center;
  background: linear-gradient($black-tint, $black-tint), url($banner-background) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.banner-title {
  font-weight: $extra-bold;
}

.banner-arrow {
  position: absolute;
  top: $bannerHeight - 10;
}
@media (min-width: 576px) {
  .banner {
    text-align: center;
  }
}
