$white: #FAFAFA;
$black: #262626;
$green: #3F826D;
$gold: #F2D0A4;
$blue: #545E75;
$red: #C03221;

$primary-colour: $black;
$secondary-colour: #F2D0A4;
$tertiary-colour: #ffc057;
$quaternary-colour: #ffe084;
$primary-tint: rgba($secondary-colour, .5);

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
