$banner-background: "https://source.unsplash.com/mdoPthuhr6Q/1600x900";
$profile-image: "../../img/profile.jpg";
$byforte-background: "../../img/portfolio/By Forte/By Forte - Masthead.png";
$newnew-background: "https://source.unsplash.com/0l0KjNoAfAk/1600x900";
$fydnit-backgrond: "../../img/portfolio/Fyndit/Fyndit - Masthead.png";

@mixin work-masthead($imageURL) {
  height: 75vh;
  margin-bottom: 25px;
  color: white;
  /* top, transparent $black-tint, faked with gradient */
  background:linear-gradient($black-tint, $black-tint),
  /* bottom, image */
  url($imageURL);

  background-size: cover;
  background-position: center;

  h1 {
    font-size: 4em;
  }
}
