// h6 starts at $base-font-size
// headings grow from h6 to h1 by $heading-scale
$base-font-size: 25px;
$heading-scale: 8; // amount of px headings grow from h6 to h1
$header-font: "Lato", sans-serif;
$body-font: 'Roboto', sans-serif;
