@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400&family=Roboto&display=swap');

$header-font-family: 'PT Serif', serif;
$base-font-family: 'Roboto', sans-serif;

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';